<div
    aria-labelledby="exampleModalLabel"
    class="modal d-block overflow-hidden"
    id="exampleModal"
    tabindex="-1"
    xmlns="http://www.w3.org/1999/html">
    <div class="modal-dialog modal-dialog-scrollable mb-5">
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <img
                    alt="Logo der Universität Luzern"
                    class="m-4"
                    th:src="@{images/UNILU_Schriftzug_Klein_schwarz_DE.svg}" />
            </div>
            <div
                class="modal-body d-flex justify-content-center align-items-center flex-column text-center">
                <h1 class="modal-title fs-5 mb-4 pt-2" id="exampleModalLabel">
                    Diese Webseite verwendet Cookies
                </h1>
                <p>
                    Die Cookies sind erforderlich, um die Authorisierung der
                    Webseite zu gewährleisten. Wir verwenden nur notwendige
                    Cookies, die weder persönliche Daten erfassen noch das
                    Benutzerverhalten tracken. Die Cookies könnne durch das
                    verlassen der Webseite abgelehnt werden.
                </p>
            </div>
            <form th:action="@{/cookies}" method="post">
                <div
                    class="modal-footer d-flex flex-row justify-content-center">
                    <button
                        data-testid="cookie-consent-button"
                        class="btn btn-primary col-4 w-50"
                        type="submit">
                        Erforderliche zulassen
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
