<form action="#" th:action="@{/search}" th:object="${examNumberForm}" method="post" class="was-validated ">
    <label for="examNumber">Prüfungsnummer eingeben:</label>
    <span class="d-flex">
    <input type="text" pattern="^\d+$" name="examNumber" id="examNumber" placeholder="20202" th:value="*{examNumber}" th:maxlength="5" class="form-control">
    <button type="submit" id="submitButton" class="btn btn-outline-primary">Suchen</button>
    </span>

    <p th:if="${#fields.hasErrors('examNumber')}" th:errors="*{examNumber}" class="text-danger">Prüfungsnummer Error</p>
</form>