<footer
    class="position-fixed bottom-0 w-100 z-1 bg-white d-flex justify-content-center">
    <div
        class="align-items-center justify-content-between d-flex border-top border-black w-100 h-100 p-4 mx-3">
        <a
            data-testid="swissuniversities-link"
            href="https://www.swissuniversities.ch/"
            target="_blank">
            <img
                data-testid="swissuniversities-logo"
                alt="Swissuniversities logo"
                height="22px"
                th:src="@{images/swissuniversities.png}" />
        </a>
        <div class="d-flex align-items-center gap-4">
            <a
                class="link-primary"
                href="https://www.unilu.ch/impressum/"
                target="_blank"
                data-testid="impressum-link">
                Impressum & Datenschutz
            </a>
            <p
                class="m-0"
                th:text="${'Version ' + @environment.getProperty('spring.application.version')}"
                data-testid="version"></p>
        </div>
    </div>
</footer>
