<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" th:href="@{styles/footer.css}" type="text/css">
</head>
<footer class="d-flex justify-content-between align-items-center p-3 footer-background footer-fixed w-100">
    <a target="_blank" href="https://www.swissuniversities.ch/">
        <img alt="Swissuniversities logo " height="22px" th:src="@{images/swissuniversities.png}">
    </a>
    <div class="d-flex justify-content-end gap-4">
        <a target="_blank" class="navigation-link" href="//www.unilu.ch/impressum/">Impressum & Datenschutz</a>
        <span>Version 0.0</span>
    </div>
</footer>
</html>
