<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" th:href="@{styles/header.css}" type="text/css">
</head>
<header class=" d-flex p-2 align-items-center justify-content-between application-header">
    <div class="header-item">
        <img class="m-3 logo" th:src="@{images/UNILU_Schriftzug_Standard_schwarz_DE.png}" alt="image not found">
    </div>
    <div class="header-item justify-content-end flex-column">
        <p class="mr-3">Sven Studi</p><!--Todo wenn login funktioniert auf eingeloggten user ändern-->
        <div class="mr-3 d-flex justify-content-between navigation-container flex-row-reverse">
            <a class="navigation-item">Logout</a> <!--Todo wenn login funktioniert-->
            <a class="navigation-item">Kontakt</a><!--Todo wenn Kontakt.html existiert-->
            <a class="navigation-item" id="search-routing-link"
               th:href="@{/search}">Prüfungslaufnummer</a>
        </div>
    </div>
</header>
</html>