<!DOCTYPE html>
<html>
<head>

</head>
<header class="d-flex p-2 pb-0 align-items-center justify-content-between">
    <a href="/">
        <img class="m-4" id="logo" th:src="@{images/UNILU_Schriftzug_Standard_schwarz_DE.png}" alt="image not found">
    </a>
    <div class="d-flex justify-content-end flex-column">
        <p class="me-3 fs-3 text-end">Sven Studi</p><!--Todo wenn login funktioniert auf eingeloggten user ändern-->
        <div class="me-3 d-flex gap-3 flex-row">
            <a class="link-primary" th:href="@{/search}">Prüfungslaufnummer</a>
            <a class="link-primary" th:href="'#'">Kontakt</a><!--Todo wenn contact.html existiert-->
            <a class="link-primary" th:href="'#'">Logout</a> <!--Todo wenn login funktioniert-->
        </div>
    </div>
</header>
<hr class="mt-0">
</html>