<!--prettier-ignore-->
<!DOCTYPE html>
<html
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout.html}"
    lang="de">
    <head>
        <link
            rel="stylesheet"
            th:href="@{styles/contact.css}"
            type="text/css" />
        <title>Universität Luzern - Prüfungen</title>
    </head>
    <body>
        <section layout:fragment="content" class="d-flex flex-column">
            <span class="display-4 mb-4 d-flex justify-content-center">
                Kontakt
            </span>
            <div class="d-flex">
                <div class="fs-4 ps-5">
                    <p
                        class="info-text"
                        data-testid="exam-download-question-text">
                        Falls Sie Fragen zum Prüfungsdownload haben, melden Sie
                        sich bitte bei der Prüfungsadministration der
                        Rechtswissenschaftlichen Fakultät.
                    </p>
                </div>
                <div class="fs-5 seperation-border w-25">
                    <p>Universität Luzern</p>
                    <p>Rechtwissenschaftliche Fakultät</p>
                    <p>Prüfungsadministration</p>
                    <p>Frohburgstrasse 3, Raum 4.A06</p>
                    <p>Postfach</p>
                    <p>6002 Luzern</p>
                    <br />
                    <p>T +41 41 229 53 14 / 15</p>
                    <a
                        class="link-primary"
                        href="mailto:pruefungen-rf@unilu.ch"
                        data-testid="mail-contact-link">
                        pruefungen-rf@unilu.ch
                    </a>
                </div>
            </div>
        </section>
    </body>
</html>
