<!--prettier-ignore-->
<!DOCTYPE html>
<html
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout.html}"
    lang="de">
    <head>
        <link
            rel="stylesheet"
            th:href="@{styles/contact.css}"
            type="text/css" />
        <title>Universität Luzern - Prüfungen</title>
    </head>
    <body>
        <section layout:fragment="content" class="content">
            <span class="display-4">Kontakt</span>
            <p class="fs-3">
                Falls Sie Fragen zum Prüfungsdownload haben, melden Sie sich
                bitte bei der Prüfungsadministration der
                Rechtswissenschaftlichen Fakultät.
            </p>
            <span>
                <img
                    alt="Logo Universität Luzern"
                    th:src="@{images/UNILU_Schriftzug_Klein_schwarz_DE.svg}" />
                <p>Rechtwissenschaftliche Fakultät</p>
                <p>Prüfungsadministration</p>
                <p>Frohburgstrasse 3, Raum 4.A06</p>
                <p>Postfach</p>
                <p>6002 Luzern</p>
                <br />
                <p>T +41 41 229 53 14 / 15</p>
                <p>pruefungen-rf@unilu.ch</p>
            </span>
        </section>
    </body>
</html>
