<!DOCTYPE html>
<html>
    <head>
        <title>Universität Luzern - Prüfungen</title>
        <link th:href="@{styles/bootstrap.min.css}" rel="stylesheet">
        <script th:src="@{javascript/bootstrap.bundle.min.js}" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"></script>
        <link rel="stylesheet" th:href="@{styles/styles.css}" type="text/css">
    </head>
    <body>
        <header th:replace="~{fragments/header}"></header>
        <h1>Willkommen bei der Prüfungsabfrage der Uni Luzern</h1>
    </body>
</html>