<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <title>Spring Boot and SAML</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<h1>Welcome: You are logged in!</h1>
<p>You are successfully logged in as <span sec:authentication="name"></span></p>
<p>Your last name is <span th:text="${surname}"></span>.</p>
<p>Your first name is <span th:text="${givenName}"></span>.</p>
<p>Your matriculation number is <span th:text="${matriculationNumber}"></span>.</p>

<form th:action="@{/Shibboleth.sso/Logout}" method="get">
    <button id="Logout" type="submit">Logout</button>
</form>

</body>
</html>