<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head>
    <script type="text/javascript" th:src="@{/js/ButtonDisabler.js}"></script>
    <link rel="stylesheet" th:href="@{styles/search.css}" type="text/css">
</head>
<body>
<section layout:fragment="content">
    <span class="display-4">Suche nach einer Prüfung...</span>

    <div th:replace="~{fragments/exam-number-input}"></div>
    <div class="exam-files" th:each="examFile: ${examFiles}">
        <div th:replace="~{fragments/exam-file}"></div>
    </div>
    <div th:if="${examFiles != null && examFiles.size() >= 2}">
        <a th:href="@{'/exams/download-zip/' + ${examNumberForm.getExamNumber()}}" class="btn button">
            Alle als ZIP herunterladen
        </a>
    </div>
</section>
</body>
</html>