.nav-bar {
    list-style: none;
}

.footer-background {
    background-color: lightgray;
}

.navigation-link {
    color: black;
    text-decoration: none;
}

.navigation-link:hover {
    color: rgb(229, 0, 125);
}