.application-header {
    height: 5em;
    background-color: lightgray;
}

.header-item {
    display: flex;
    align-items: center;
}

.logo {
    margin: 15px;
    width: auto;
    height: 40px;
}

.profile {
    margin: 15px;
}
