.application-header {
    height: 5em;
    background-color: lightgray;
}

.header-item {
    display: flex;
    align-items: end;
    width: 50%;
}

.logo {
    width: auto;
    height: 40px;
}

.profile {
    margin: 15px;
}

.navigation-container {
    width: 250px;
}

.navigation-item {
    font-size: 0.75rem;
    color: slategray;
    text-decoration: none;
}

.navigation-item:hover {
    color: black;
}

