.application-header {
    background-color: lightgray;
}

.header-item {
    display: flex;
    align-items: end;
    width: 50%;
}

#logo {
    height: 70px;
}

.navigation-item {
    font-size: 1em;
    color: slategray;
    text-decoration: none;
}

.navigation-item:hover {
    color: black;
}

