.content {
    padding-bottom: 6rem;
}
.search-input {
    background: #f7f8fa;
    height: 3.5rem;
}

.search-input-elements {
    border: none;
    outline: none;
    background: none;
}

.search-button:hover {
    background: #e5007d;
}

.search-button:hover > .search-icon {
    filter: brightness(0) invert(1);
}
