.search-button {
    border-radius: 2px;
    color: black;
    background-color: white;
}

.search-button:hover {
    border-color: black;
}

.search-button:disabled {
    background-color: lightgray;
    border-color: gray;
}