.search-button {
    border: 1px rgb(229, 0, 125) solid;
    color: black;
    background-color: white;
}

.search-button:hover {
    border-color: black;
}

.exam-download {
    color: rgb(229, 0, 125);
}

.exam-download:hover {
    color: black;
}

.zip-button {
    border: 1px rgb(229, 0, 125) solid;
}

.zip-button:hover {
    border: 1px black solid;
}