@font-face {
    font-family: OpenSans, sans-serif;
    src: url('../fonts/Open_Sans/OpenSans-Regular.ttf') format('truetype');
url('../fonts/Open_Sans/OpenSans-Regular.woff2') format('woff2');
}

:root {
    --purple: #6f42c1;
    --bs-primary-rgb: 0, 0,0;
    --bs-link-hover-color-rgb: 229, 0, 125;
}

body {
    margin: 0;
    font-family: OpenSans, sans-serif;
}

a {
    text-decoration: none;
}

.link-primary:focus, .link-primary:hover {
    color: RGBA(var(--bs-link-hover-color-rgb), 1) !important;
}
